################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aquantica-api/src/Aquantica.API/appsettings.Development.json
