<div class="d-flex justify-content-between m-3 h-25">
  <h1 mat-dialog-title class="d-block">Role</h1>
  <button mat-icon-button mat-dialog-close class="m-3">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="form-container">
  <form [formGroup]="roleForm" class="section-detail-form row">
    <div class="row">
      <div class="col">
        <mat-card-content>
          <div>
            <mat-form-field>
              <mat-label>Role</mat-label>
              <input matInput placeholder="Manager" formControlName="name" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
          </div>
          <div class="m-1 mb-3">
            <mat-slide-toggle formControlName="isEnabled">Enabled</mat-slide-toggle>
          </div>
          <div class="m-1 mb-3">
            <mat-slide-toggle formControlName="isBlocked">Blocked</mat-slide-toggle>
          </div>
          <div class="m-1 mb-3">
            <mat-slide-toggle formControlName="isDefault">Default</mat-slide-toggle>
          </div>
        </mat-card-content>
      </div>

      <div class="col">
        <div *ngIf="accessActions != undefined" class="d-flex align-items-baseline">
          <div>
            <mat-form-field>
              <mat-label>Access actions</mat-label>
              <mat-select [(value)]="role.accessActionsIds"  formControlName="accessActionsIds" [multiple]="true">
                <mat-option *ngFor="let accessAction of accessActions"
                            [value]="accessAction.id">{{ accessAction.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <mat-divider></mat-divider>
    </div>
  </form>

</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" class="col-2">Delete</button>
  <button mat-raised-button color="primary" type="submit" class="col-2" (click)="applyChanges()">Apply
  </button>
</div>

