<div class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Section</mat-card-title>
    </mat-card-header>
    <form class="section-detail-form row" #form="ngForm" name="section">
      <div class="col">
        <mat-card-content>
          <div>
            <mat-form-field>
              <mat-label>Section</mat-label>
              <input matInput placeholder="Name" name="name" [(ngModel)]="section.name" value="{{section.name}}"
                     required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Number</mat-label>
              <input matInput type="number" placeholder="1" name="number" [(ngModel)]="section.number"
                     value="{{section.number}}">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Device URI</mat-label>
              <input matInput placeholder="127.0.0.1:8080" name="deviceUri" [(ngModel)]="section.deviceUri"
                     value="{{section.deviceUri}}" required>
            </mat-form-field>
          </div>
          <div class="m-1 mb-3">
            <mat-slide-toggle name="isEnabled" checked="{{section.isEnabled}}"
                              [(ngModel)]="section.isEnabled">Enabled
            </mat-slide-toggle>
          </div>
          <div *ngIf="ruleSets.length != 0" class="row col-4">
            <div>
              <mat-form-field>
                <mat-label>Ruleset</mat-label>
                <mat-select value="{{section.sectionRulesetId}}">
                  <mat-option value="null">None</mat-option>
                  <ng-container *ngFor="let option of ruleSets">
                    <mat-option value="{{option.id}}">{{ option.name }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <div>
                <button mat-button class="additional-settings-btn" (click)="editRuleSet()">
                  <mat-icon>settings</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <mat-divider></mat-divider>
          </div>
          <div *ngIf="section.location != null" class="row mt-3">
            <mat-form-field class="col-5">
              <mat-label>Location</mat-label>
              <input matInput placeholder="Location" name="location" [(ngModel)]="section.location.name"
                     value="{{section.location.name}}">
            </mat-form-field>
            <mat-form-field class="col-3">
              <mat-label>Location</mat-label>
              <input matInput placeholder="Latitude" name="latitude" [(ngModel)]="section.location.latitude"
                     value="{{section.location.latitude}}">
            </mat-form-field>
            <mat-form-field class="col-3">
              <mat-label>Location</mat-label>
              <input matInput placeholder="Longitude" name="longitude" [(ngModel)]="section.location.longitude"
                     value="{{section.location.longitude}}">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
      </div>
      <mat-card-footer>
        <mat-card-actions class="row gap-3 justify-content-end m-2">
          <button mat-raised-button color="warn" class="col-2">Delete</button>
          <button mat-raised-button color="primary" type="submit" class="col-2" (click)="applyChanges()">Apply</button>
        </mat-card-actions>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
