<div class="d-flex flex-row job-controls-header">
  <div class="m-2">
    <button mat-flat-button color="accent" (click)="startAllJobs()">Start all</button>
  </div>
  <div class="m-2">
    <button mat-flat-button color="accent" (click)="stopAllJobs()">Stop all</button>
  </div>
</div>

<div class="row mat-elevation-z8">
  <table mat-table [dataSource]="jobs" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="isEnabled">
      <th mat-header-cell *matHeaderCellDef>Enabled</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle [checked]="element.isEnabled" (click)="toggleJob(element)"></mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="jobRepetitionType">
      <th mat-header-cell *matHeaderCellDef>Job repetition type</th>
      <td mat-cell
          *matCellDef="let element"> {{ getRepetitionType(element.jobRepetitionType) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="jobRepetitionValue">
      <th mat-header-cell *matHeaderCellDef>Job repetition value</th>
      <td mat-cell
          *matCellDef="let element"> {{ element.jobRepetitionValue }}
      </td>
    </ng-container>

    <ng-container matColumnDef="jobMethod">
      <th mat-header-cell *matHeaderCellDef>Job method</th>
      <td mat-cell
          *matCellDef="let element"> {{ getJobMethod(element.jobMethod) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="openJob(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button (click)="deleteJob(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button (click)="fireJobAsMethod(element.id)">
          <mat-icon>task</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>

<button mat-raised-button color="primary" class="add-button" (click)="createJob()">
  <mat-icon>add</mat-icon>
  Add
</button>
